<div class="container-global" data-controller="form" data-form-target="window">


  <%= simple_form_for @translation, url: translations_path do |f| %>
    <%= f.input :content,
                  as: :text,
                    input_html: {
                      data: {
                        form_target: "input",
                        action: "keyup->form#type"}
                    }%>
    <%= f.button :submit, "Apply Bionic Reading to my text",
                  data: {
                    action: "click->form#display"
                  }
                    %>
  <% end %>

  <br>
  <p> <%= @translation.content %></p>


  <br>


  <% @translations&.last(5).each do |translation|  %>
    <%#= translation.content.split(" ").first(5).join(" ") %>
    <br>
    <p><%= translation.id %> - <%= translation.content %></p>
  <% end %>

  
<ul data-form-target="list">
<li>Oui</li>
<li>Ouiiii</li>
<li>OUIII</li>
</ul>
</div>


<p><strong>oui</strong></p>
