<div class="container-global bg-black" data-controller="form" data-form-target="window">

  <div id="translation_content" class="d-none" data-form-target="result">

  </div>

  <br>
  <div class="d-flex justify-content-around">
    <p class="btn btn-outline-light rounded-pill d-none" data-form-target="change" data-action="click->form#changeText">
      <i class="fa-solid fa-pencil"></i> Change the original text
    </p>

    <button data-action="click->form#reloadPage" class="btn btn-outline-light rounded-pill d-none" data-form-target="change">
      <i class="fa-solid fa-plus"></i> New translation
    </button>
  </div>

    <br><br>


  <%= simple_form_for @translation, url: translations_path, html: {data: {
    form_target: "formulaire",
    action: "submit->form#display"}} do |f| %>
    <%= f.input :content,
                as: :text,
                label: "Text input:",
                label_html: {
                  style: "color: white"
                },
                required: false,
                placeholder: "Enter here the text that you want to transform into bionic reading",
                input_html: {
                  class: "bg-white",
                  # style: "border-radius: 10px",
                  data: {form_target: "input"}}%>
    <%= f.submit "Apply Bionic Reading to my text",
                  class: "btn btn-light"
                  # ,data: {action: "click->form#display"}
    %>
  <% end %>


  <br><br>

  <p><em>To try again with another text, edit directly your text in the text area or click below:
  <button data-action="click->form#reloadPage" class="btn btn-primary rounded-pill">New translation</button>

  <%# <ul data-form-target="list">
  <li>Oui</li>
  <li>Ouiiii</li>
  <li>OUIII</li>
  </ul> %>
</div>


<%# <p><strong>oui</strong></p> %>

  <%#= @translation.content %>
  <% @translations&.last(2).each do |translation|  %>
    <%#= translation.content.split(" ").first(5).join(" ") %>
    <%= translation.id %> - <%= translation.content.html_safe %>
  <% end %>
