<div class="container-global">


  <%= simple_form_for @translation, url: translations_path,
          html: {
            data: {controller: "form" }
          } do |f| %>
    <%= f.text_area :content,
                    input_html: {
                      data: {form_target: "content"}
                    }%>
    <%= f.button :submit, "Apply Bionic Reading to my text",
                  input_html: {
                      data: {action: "submit->form#display"}
                    }%>
  <% end %>

  <br>
  <p> <%= @translation.content %></p>


  <br>


  <% @translations.last(5).each do |translation|  %>
    <%#= translation.content.split(" ").first(5).join(" ") %>
    <br>
    <p><%= translation.id %> - <%= translation.content %></p>
  <% end %>
</div>

<p><strong>oui</strong></p>
